PORT=3000
SESSION_SECRET=change-this-secret
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=inventory_root_password
DB_NAME=inventory_app
SEED_OWNER_EMAIL=mt.owner@gmail.com
SEED_OWNER_PASSWORD=changeme0
